@import url(/assets/fonts/custom-fonts.css);
:root {
  --r-background-color: #fff;
  --r-main-font: Sarabun;
  --r-main-font-size: 30px;
  --r-main-color: #222;
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: Sarabun;
  --r-heading-color: #222;
  --r-heading-line-height: 1.5;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: none;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 600;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.6em;
  --r-heading3-size: 1.3em;
  --r-heading4-size: 1em;
  --r-code-font: DejaVu Sans Mono, monospace;
  --r-link-color: #2a76dd;
  --r-link-color-dark: rgb(30.7720647773, 99.5566801619, 192.7779352227);
  --r-link-color-hover: rgb(73.95, 138.55, 226.1);
  --r-selection-background-color: rgb(95.25, 152.25, 229.5);
  --r-selection-color: #fff;
  --r-overlay-element-bg-color: 0, 0, 0;
  --r-overlay-element-fg-color: 240, 240, 240;
}

*{
    font-family: Sarabun;
    line-height: 1.5;
}

.reveal img {
   max-height: 550px;
}

.reveal ul {
    width:inherit;
}

.reveal h3 {
    text-align:left;
}

code {
    font-family: DejaVu Sans Mono;
}
.reveal .slides section > section {
  line-height: 1.5;
  font-weight: inherit;
}
